@font-face {
    font-family: 'Space Mono';
    src: url(./fonts/Space_Mono/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Mono';
    src: url(./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: 'Space Mono', 'Roboto Mono', 'Times New Roman', Times, serif;

    --box-shadows: 2px 2px 6px darkgrey;
}

.main-container {
    box-shadow: var(--box-shadows);
    max-width: 1300px;
    min-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 320px 1fr;
}

.header {
    grid-column: span 2;
    background-color: gray;

    & h1 {
        padding-bottom: 25px;
        text-shadow: 4px 4px 4px white ;
        line-height:1.2;
        
        display: flex;
        gap: 5px;
        justify-content: center;
        
        & span {
            display: block;
        }
        
        & span:first-of-type {
            font-size: 2rem;
            margin-top: 25px;
            border-top: 5px solid black;
        }
        
        & span:nth-of-type(2) {
            font-size: 4rem;
            border-bottom: 5px solid black;
            &::first-letter {
                font-size: 6rem;

            }  
        }  
    }
}

.sidebar {
    display: grid;
    align-items: center;
    align-content:start;
    gap: 5px;

    & > label[for="open-new-book-modal-button"] {
        padding: 15px;
    }
    
    
    & .open-new-book-modal-button {
        justify-self: center;

        background-color: black;
        color: white;
        font-weight: 800;
        width: max-content;
        padding: 10px 15px;
        border-radius: 10px;
        box-shadow: var(--box-shadows);

    }

    & h3 {
        justify-self: center;
    }

    & .title-list {
        list-style: none;
        display: grid;

        & > li {
            overflow-x: auto;
            padding: 5px 10px;
        } 

        & > li:nth-of-type(odd) {
            background-color: darkgray;
        }
    }
}

.main-area {
    padding: 20px;
    box-shadow: inset 4px 4px 8px -2px darkgray;
    background: rgb(240, 240, 240);

    & > h2 {
        text-decoration: underline;
    }

    & .book-container {
        display: grid;
        padding: 10px;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));

        & > .book-card {
            padding: 15px;
            overflow-x: auto;
            border-radius: 5px;
            box-shadow: var(--box-shadows);
            background-color: white;

            display: grid;
            gap: 5px;
        }
        
        & button {
            width: 110px;
            padding: 5px 0;
            margin: 2px;
            box-shadow: var(--box-shadows);
            justify-self: right;
        }
    }
}

/* dialog modal */
.new-book {
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadows);
    border: none;

    &::backdrop {
        background-color: rgb(0 0 0 / 25%);
        backdrop-filter: blur(4px);
    }

    > h2 {
        margin-bottom: 10px;
    }

    & form {
        display: grid;
        gap: 5px;

        > div {
            display: flex;

            > input {
                margin-left: auto;
                height: 25px;
                width: 240px;
            }
        }
    }

    & div:last-of-type {
        justify-self: right;
        gap: 5px;
    }

    & button {
        width: 70px;
        padding: 2px 0;
        margin: 2px;
        box-shadow: var(--box-shadows);
    }
}
