@font-face {
    font-family: 'Space Mono';
    src: url(./fonts/Space_Mono/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Mono';
    src: url(./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    box-sizing: border-box;
}
:root {
    font-size: 16px;
    font-family: 'Space Mono', 'Roboto Mono', 'Times New Roman', Times, serif;

    --box-shadows: 2px 2px 6px darkgrey;
}

.main-container {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 320px 1fr;
}

.header {
    grid-column: span 2;

    box-shadow: var(--box-shadows);
    background-color: gray;

    & h1 {
        padding-bottom: 25px;
        text-shadow: 4px 4px 4px white ;
        line-height:1.2;
        
        display: flex;
        gap: 5px;
        justify-content: center;
        
        & span {
            display: block;
        }
        
        & span:first-of-type {
            font-size: 2rem;
            margin-top: 25px;
            border-top: 5px solid black;
        }
        
        & span:nth-of-type(2) {
            font-size: 4rem;
            border-bottom: 5px solid black;
            &::first-letter {
                font-size: 6rem;

            }

            
        }
        
    }
}

.sidebar {

    display: grid;
    align-items: center;
    gap: 5px;
    box-shadow: var(--box-shadows);

    & > label[for="open-new-book-modal-button"] {
        padding: 10px;
    }
    
    
    & .open-new-book-modal-button {
        justify-self: center;

        background-color: black;
        color: white;
        font-weight: 800;
        width: max-content;
        padding: 10px 15px;
        border-radius: 10px;
        box-shadow: var(--box-shadows);

    }

    & h3 {
        justify-self: center;
    }

    & .title-list {
        list-style: none;
        /* border-top: 2px solid lightgrey; */
        /* border-bottom: 2px solid lightgrey; */

        display: grid;

        & > li {
            overflow-x: auto;
            padding: 5px;
        } 

        & > li:nth-of-type(odd) {
            background-color: lightgrey;
        }
    }
}

.main-area {
    margin: 10px;

    & .book-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

        & > .book-card {
            overflow-x: auto;
        }
    
    }
}

/* dialog modal */
.new-book {
    margin: auto;
    padding: 20px;

    &::backdrop {
        background-color: rgb(0 0 0 / 25%);
        backdrop-filter: blur(4px);
    }

    & label {
        padding: 10px;
    }
}
